@font-face {
    font-family: "Petrona Regular";
    src: url(../fonts/Petrona-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "Petrona Regular", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}

.container {
    width: 100%;
    max-width: 1000px;
}

header {
    background-color: #fbfbfb;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    box-shadow: 0 6px 10px -1px #1f2e3e12;
    position: sticky;
    top: 0;
    z-index: 999999;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 24px;
    font-weight: 700;
}

header .logo h1::first-letter {
    color: #2b7b85;
}

header nav .links {
    display: flex;
    gap: 10px;
    list-style: none;
}

header nav .links li a {
    color: #2b7b85;
    font-size: 17px;
}

main {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

main .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home .welcome {
    width: 100%;
    height: 300px;
    background-image: radial-gradient(#9cd8e0, #2b7b85, #364553);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section .text h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

section .text h2::first-letter {
    color: #2b7b85;
}

section .text p {
    font-size: 16px;
    font-weight: 400;
}

section .chart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

section .chart .conic {
    height: 250px;
    aspect-ratio: 1/1;
    background-image: conic-gradient(
        #9cd8e0 20%,
        #2b7b85 20%,
        #2b7b85 50%,
        #1f2e3e 50%
    );
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

section .chart .Percentages {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section .chart .Percentages {
    list-style: none;
}

section .chart .Percentages li {
    display: flex;
    gap: 10px;
}

section .chart .Percentages li .square {
    width: 18px;
    height: 18px;
}

section .chart .Percentages li .first {
    background-color: #9cd8e0;
}

section .chart .Percentages li .second {
    background-color: #2b7b85;
}

section .chart .Percentages li .third {
    background-color: #1f2e3e;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact form input {
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 10px;
    border: 2px solid #ccc;
}

.contact form textarea {
    width: 100%;
    height: 150px;
    padding: 12px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.contact form .btn {
    width: 150px;
    height: 45px;
    font-size: 16px;
    color: white;
    background-color: #2b7b85;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #1f2e3e;
    color: white;
}

@media screen and (max-width: 560px) {
    section .chart {
        flex-direction: column;
        align-items: center;
    }
    section .chart .Percentages {
        gap: 10px;
    }
}
